<!doctype html>
<html lang="en" th:replace="~{base :: parent(~{::#mainContent}, ~{::title})}">
<head>
    <title>Home</title>
</head>
<body>
<div id="mainContent">
    <div class="bg-gray-200 w-1/2 flex flex-col space-y-3 mx-auto mt-4 p-4">
        <h1 th:text="${name}" class="text-5xl font-bold"></h1>
        <p>
            <span th:text="${username}"></span>
        </p>
        <a th:href="${website}" class="bg-blue-900 my-2 text-white text-center px-2 py-2 hover:bg-blue-400">Mexican Food</a>
    </div>
</div>
</body>
</html>